<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>goodshare</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Raleway:400,700,200,300,900,800" rel="stylesheet" type="text/css">
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper" class="container">
	<div id="header">
		<div id="logo">
			<h1><a href="/index"><span>Good</span>Share</a></h1>
			<p>Podziel się swoimi dobrami ;)</p>
		</div>
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="/index" accesskey="1" title="">Homepage</a></li>
				{% block menu %}
				{% endblock %}
			</ul>
		</div>
	</div>
	{% block content %}
	{% endblock %}
	{% block features %}
	{% endblock %}
	{% block footer %}
	{% endblock %}
</div>
</body>
</html>
